<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Employee Management System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-between" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav mr-auto">
          <ng-container *ngIf="userService.authorizedUser()">
            <li class="nav-item active" *ngIf="global.role === 'Admin'">
              <a class="nav-link" [routerLink]="['/employee']">Employee</a>
            </li>
            <li class="nav-item active" *ngIf="global.role === 'Employee'">
              <a class="nav-link" [routerLink]="['/user-profile']">User Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/employee-leave']">Leave</a>
            </li>
          </ng-container>
        </ul>

        <ul class="navbar-nav">
          <ng-container *ngIf="!userService.authorizedUser()">
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/login']">
                Log in
              </a>
            </li>
          </ng-container>

          <ng-container *ngIf="userService.authorizedUser()">
            <li *ngIf="authorizedUser" class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/']">{{
                authorizedUser.Email
              }}</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/']" (click)="userService.logout()">
                Log out
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>
</header>
