<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th *ngIf="userRole === 'Admin'">Employee</th>
      <th>From Date</th>
      <th>To Date</th>
      <th>Reason</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="employeeLeaves.length">

      <tr *ngFor="let leave of employeeLeaves">
        <td *ngIf="userRole === 'Admin'">{{ leave.applicationUser.userName }}</td>
        <td>{{ leave.fromDate | date }}</td>
        <td>{{ leave.toDate | date }}</td>
        <td>{{ leave.reason }}</td>
        <td>
          <select class="form-control" [(ngModel)]="leave.status" (change)="updateLeave(leave)"
            *ngIf="userRole === 'Admin'; else employee">
            <option *ngFor="let item of status" [value]="item.value">
              {{ item.key }}</option>
          </select>
          <ng-template #employee>
            {{ leaveStatus[leave.status] }}
          </ng-template>
        </td>
      </tr>
    </ng-container>
    <tr *ngIf="!employeeLeaves.length">
      <td class="text-center p-4" [attr.colspan]="userRole === 'Admin' ? 5: 4">
        No data available
      </td>
    </tr>
  </tbody>
</table>
